:root {
    --black: #000;
    --white: #f7fafe ;
    --purple: #6d4bf3;
    --gradient: linear-gradient( to right, rgba(104,75,241),rgb(133, 91, 248))
}

*{
    font-family:  'Poppins', sans-serif;
    font-size: 22px;
    border:none;
}

body {
    height: 20vh;
    background-color: var(--purple);
    font-family:  'Poppins', sans-serif;
    color: var(--black)
}

main {
    height: 91vh;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 36px;
    background-image: url(/Media/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family:  'Poppins', sans-serif;
    text-align: center;
    font-size: 48px;
    color: black;
    font-weight: 600;
    margin-bottom: 3px;
}

.switchInput{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f7fafe;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0;
    position: fixed;
    width: 0;
}

input:checked + label {
    background-image: linear-gradient( to right, rgba(104,75,241),rgb(133, 91, 248));
    color: #f7fafe;
    animation: mymove 1s;
}

@keyframes mymove {
  100% {transform: rotateX(360deg);}
    }
    
label {
    display: block;
    border: 1px;
    font-size: 0.8rem;
    margin-bottom: -25px;
    font-family: 'Acme', sans-serif;
    color: var(--purple);
    text-align: center;
    padding: 15px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%);
    border-color:#6d4bf3;
    background-color:#fff;
    border-radius: 60px;
}

#SendForm {
    background-image: var(--gradient);
    color: white;
    border-radius: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin-right:0px;
    margin-left: 25vw;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%);
}

.default {
    border: 1px solid var(--black);
}






/* MEDIA QUERYS -> RESPONSIVE */

/* Smartphones */
@media (min-width:320px){}
@media (min-width:481px) {}
/* Tablets */
@media (min-width:641px)  {}
/* Laptops y high screens */
@media (min-width:961px)  {}
@media (min-width:1025px) {}
@media (min-width:1281px) {}